<div class="pure-g singleView" ng-init="editMode = false">
	<div class="pure-u-1">
		<i class="fa fa-floppy-o" ng-show="editMode" ng-click="updateRecipe()"></i>

		<i class="fa fa-pencil" ng-hide="editMode" ng-click="editMode = !editMode"></i>
	</div>


	<div ng-hide="editMode" class="pure-u-1">
		<div class="pure-g">
			<div class="pure-u-1">
				<h1>{{ recipe.recipeName }} </h1>	
			</div>

			<div class="pure-u-1-2"recipe-mode="view">
				<h2>Steps</h2>
				<ol>
					<li ng-repeat="step in recipe.recipeSteps">{{ step }}</li>
				</ol>
			</div>

			<div class="pure-u-1-2">
				<h2>Ingredients</h2>

				<ul>
					<li ng-repeat="ingredient in recipe.recipeIngredients">{{ ingredient.name }}, {{ ingredient.qty }}</li>
				</ul>
			</div>
		</div>
	</div>


	<div class="pure-u-1" ng-show="editMode" id="editMode">
		<div class="pure-g">
			<div class="pure-u-1">
				<input value="{{ recipe.recipeName }}" class="pure-u-1 recipeH1">
			</div>
			<div class="pure-u-1">

				<div class="pure-g">
					<div class="pure-u-1-2">
						<h2>Steps</h2>
						<ol dragula='"steps-bag"' dragula-model="steps">
							<li ng-repeat="step in recipe.recipeSteps track by $index">{{ step  }} <i class="fa fa-pencil" ng-click="editStep()"></i></li>
						</ol>
					</div>

					<div class="pure-u-1-2">
						<h2>Ingredients</h2>
						<ul dragula='"ingredients-bag"' dragula-model="ingredients">
							<li ng-repeat="ingredient in recipe.recipeIngredients track by $index">
							{{ ingredient.name }}, {{ ingredient.qty }} <i class="fa fa-pencil" ng-click="editIngredient()"></i>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	<div class="pure-g" ng-show="editMode">
		<div class="pure-u-1"><hr></div>
		<div class="pure-u-1-2">
			<label for="recipe-name">Recipe Name:
				<input type="text" id="recipe-name" ng-name="recipe-name" ng-model="recipeName">
			</label>

			<form>
				<label for="steps">Steps:
					<input type="text" id="steps" ng-model="newStep">
				</label>
				<button ng-click="addStep()">Add</button>
			</form>
		</div>
		
		<div class="pure-u-1-2">
			<form>
				<label for="ingredients">Ingredients:
					<input type="text" id="ingredients" ng-model="newIngredient">
				</label><br />
				<label for="ingredientQty">Quantity:
					<input type="text" id="ingredients" ng-model="newIngredientQty">
				</label>
				<button ng-click="addIngredient()">Add</button>
			</form>	
		</div>
		<div class="pure-u-1"><button ng-click="saveRecipe()">Submit Recipe</button></div>
	</div>

</div>